.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.fighter-preview__hero {
  height: 250px;
  margin: 10px 0;
}

.fighter-preview__name {
  display: block;
  width: 200px;
  padding: 10px 8px;
  border-radius: 8px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #a71515;

  border: 1px solid white;
  box-shadow: 1px 6px 10px 0px rgba(0, 0, 0, 0.75);
}

.fighter-preview__health {
  color: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  font-weight: bold;
  font-size: 20px;
}

.fighter-preview__attack {
  color: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  font-weight: bold;
  font-size: 20px;
}

.fighter-preview__defense {
  color: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  font-weight: bold;
  font-size: 20px;
}

.fighter-preview__undo {
  background-image: url("../../resources/redo.png");
  width: 32px;
  height: 32px;
  margin: 8px 0;
  transition: 0.6s;
}

.fighter-preview__undo:hover {
  filter: brightness(0.5);
  transform: rotate(180deg);
  cursor: pointer;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}